<app-component-directive></app-component-directive>

<div [ngClass]="danger">
  This is danger
</div>

<div [ngStyle]="{'font-style':'italic','color':'red'}">
  This is italic block 
</div>

<div>
  <input type="text" [(ngModel)]="name">
  {{name}}
</div>

<input type="text" [ngModel]="upperName" (ngModelChange)="convertToUpperCase($event)">
{{upperName}}

<p *ngIf="isSpecial">if this is special paragraph then only it is visible</p>
<p *appCustomIf="isSpecial">This is appCustomIf</p>
<p appCustomHighlight>this is yellow</p>

<app-child [dataFromParent]="'dataFromParent'" (isDataChangedInChild)="valueChanged($event)">
  <p>This is paragraph used is projected from parent</p>
</app-child>
<p>value changed: {{value}}</p>

<div #localVariable>
  <p>this is inside local variable</p>
</div>

<div #localVarible>
  <p>this is inside local varible 2</p>
</div>
<!-- here we are using custom created pipe -->
<hr>
<p>masked email: {{'vyankymanwade8187@gmail.com' | emailmask}}</p>

<hr>
<a routerLink="home">Home</a>
<a routerLink="about"> About</a>
<a routerLink="feature">Feature</a>
<hr>
<router-outlet></router-outlet>
